<!DOCTYPE html>
<html th:include="template :: modelo">
<body>
<div th:fragment="conteudo">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nro da Porta</th>
            <th scope="col">Qtde Quartos</th>
            <th scope="col">Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartamento : ${apartamentos}">
            <th scope="row" th:text="${apartamento.id}"></th>
            <td th:text="${apartamento.nroPorta}"></td>
            <td th:text="${apartamento.qtdeQuartos}"></td>
            <td th:text="${apartamento.tipo}"></td>
            <td>
                <a th:href="@{/excluir-apartamento(id=${apartamento.id})}">excluir</a>
                <a th:href="@{/editar-apartamento(id=${apartamento.id})}">editar</a>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>